---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
      <div class="space-y-6">
      {%- for post in site.posts -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl ">
            <div class="md:flex">
                {%- if post.image -%}
                <div class="md:flex-shrink-0"><img class="h-48 w-full object-cover md:h-full md:w-48" src= "./assets/img/{{ post.image }}"  alt="{{ post.title }}"></div>
                {%- endif -%}
                <div class="p-8">
                    {% assign tags = "Python Programming Opensource C Wellness Projects" | split: " " %}
                    {%- if post.categories -%}
                        <div class= "flex flex-row flex-wrap gap-1">
                        {%- for category in post.categories -%}
                            {% case category %}
                                {% when tags[0] %}
                                    {% assign color = "red" %}
                                {% when tags[1] %}
                                    {% assign color = "purple" %}
                                {% when tags[2] %}
                                    {% assign color = "yellow" %}
                                {% when tags[3] %}
                                    {% assign color = "indigo" %}
                                {% when tags[4] %}
                                    {% assign color = "pink" %}
                                {% when tags[5] %}
                                    {% assign color = "blue" %}
                                {% when tags[6] %}
                                    {% assign color = "green" %}
                                {% else %}
                                    {% assign color = "gray" %}
                            {% endcase %}
                            <div class="px-4 py-1 text-sm text-white font-semibold rounded-full border border-{{color}}-200 bg-{{color}}-600 outline-none">{{ category }}</div>
                        {%- endfor -%}
                        </div>
                    {%- endif -%}
                    <a href="{{ post.url | relative_url }}" class="block mt-1 text-2xl leading-tight font-medium text-black hover:underline">{{ post.title | escape }}</a>
                    {%- if post.excerpt -%}
                    <p class="mt-2 text-gray-500">{{ post.excerpt | strip_html }}... <a href="{{ post.url | relative_url }}">Read more</a></p>
                    {%- endif -%}
                    <div class="text-sm font-semibold post-meta">{{ post.date | date: date_format }}</div>
                </div>
            </div>
        </div>        
      {%- endfor -%}
      </div>
   
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
